################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/modules/GeoLib/.vs
/solutions/.vs
/tmp/Debug/x64/GeoLib/obj
/run64_D/net8.0
/tmp
/modules/TestApp/bin/x64/Debug/net8.0
/modules/TestApp/obj
/solutions/Visual Studio 2022/Visualizers
/run64/net8.0
/run64_D/net8.0-windows
/userdata
